[Desktop Entry]
Version=1.0
Type=Application
Name=Sistema Bancario UCC
Comment=Sistema de Gestión Bancaria UCC
Exec=/home/facundogrillo/Documentos/PROYECTO/proyectoPOO/run.sh
Icon=utilities-terminal
Terminal=false
Categories=Application;Development;
Path=/home/facundogrillo/Documentos/PROYECTO/proyectoPOO
StartupNotify=true
